/* CSS declarations go here */
.head01{
	text-align: center;
}


.my-form-row {
	margin-top: 100px;
}

.form-control {
	width: 100%;
	padding: 10%;

}
.container-fluid{
	max-width: 800px;
	margin:0 auto;
}